<div>
  <%= componeer.button('Default') %>
  <%= componeer.button('Alternative', mode: :alternative) %>
  <%= componeer.button('Dark', mode: :dark) %>
</div>

<pre>
<%%= componeer.button('Default') %>
<%%= componeer.button('Alternative', mode: :alternative) %>
<%%= componeer.button('Dark', mode: :dark) %>
</pre>
